<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head')  %>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('./partials/nav')  %>
    <div class="container mt-3">
        <div class="row row-cols-4">
        <% for(let blog of blogs) { %>
            <div class="col">
            <div class="card m-2" style="width: 15rem;">
                <img src="<%= blog.coverImageUrl %>" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title"><%= blog.title %></h5>
                  <a href="/blog/<%= blog._id %>" class="btn">View</a>
                </div>
            </div>
        </div>
        <% } %>
    </div> 
    </div>

    <%- include('./partials/scripts')  %>
</body>
</html>
